<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/me.jpg">
        <p>This site is providing a simple weather forecast service with the help of Mapbox.com and Darksky.net</p>
    </div>
    
    {{>footer}}
</body>

</html>